#todayHeadline{
  color:black;
  
  }
  
  #leftbox{
  
  width: 250px;
  height: 80%;
  background-color: blue;
  }
  
  #homeLeft {
      margin-top: 50px;
      margin-left: 20px;
      text-align: center;
      font-family: Impact, Charcoal, sans-serif;
      color:  #4747d1;
    
    
      
    
  }
  
  #homeLeftSecond {
      margin-top: 15px;
      margin-left: 20px;
      text-align: center;
      font-family: Impact, Charcoal, sans-serif;
      color:  #4747d1;
   
     
    
  }