#brand {
  font-size: 3rem;
}
#search {
  width: 85%;
}

.menuText {
  font-size: 1.4rem;
  font-weight: 700;
  
}

.hello{
  font-size: 18px;
  font-weight: bold;
  color: navy;
  margin: 10px;
}

.menuButton {
  font-size: 1.1rem;
  font-weight: 500;
  
}

#myNavbar {
  background-color: #7FFF0D;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: +500;
}

#profile{
  background-color: red
}

#addpet{
  color: white;
}