.jumbotron {
  /* background-image: url("http://via.placeholder.com/600x400"); */
  padding: 32px 32px;
}

.PetProfile {
  background-color: #c9ffb3;
  margin-top: 7.8%;
}

.pinkBox {
  text-align: center;
}

#getFile {
  display: none;
}
