.jumbotron {
  /* background-image: url("http://via.placeholder.com/600x400"); */
  padding: 32px 32px;
}

#profileIcon {
  bottom: 75px;
  left: 60px;
}

.profile {
  width: 150px;
  height: 150px;
  margin-left: 50px;
}
