.jumbotron {
  padding: 32px 32px;
  background-color: #c9ffb3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#profileIcon {
  position: relative;
  top: 105px;
  left: 10px;
}

.profile {
  width: 150px;
  height: 150px;
  margin-left: 50px;
  background-size: 150px 150px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: -50px;
}
